server:
  name: sso
  directory: C:/Work/development/snapscript/snap-archive/snap-server/orthrus-sso
  port: 7070
  packages: io.orthrus.sso,io.orthrus.store     
   
jmx:
   login: admin
   password: password12
   port: 5577
   
login:
   email: admin@authrus.com
   url:
      directory: http://localhost:8383/
      base: https://www.authrus.com/ 
   token-store:
      type: PKCS12   
      path: C:/Work/development/snapscript/snap-archive/snap-server/orthrus-gateway/certificate/www.orthrus.io/www.orthrus.io.pfx 
      alias: 1
      password: password12  
   pass-code:
      high: 99999
      low: 11111
      
tuple:
   path: ${server.directory}/store/${spring.profiles.active}
   name: ${server.name}
   packages: io.orthrus
   port: 2${server.port}         
            
mail:
   credentials: C:/Work/development/snapscript/snap-archive/snap-server/orthrus-sso/src/main/resources/smtp.properties
   host: email-smtp.eu-west-1.amazonaws.com
   port: 465

logging:
  level:
    root: INFO        
